<div class="container">
  <div class="container  contact">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">

      <div class="firstbox">
        <div class="card cardStyle">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-6">
                <img class="imgProfileStyle" src="./../assets/icons/profile.png" alt="">
              </div>
              <div class="col-md-6" style="color: #c7ccd1;">
                <p> {{name}}</p>
                <P>{{number}}</P>
              </div>
            </div>
          </div>
        </div>
        <div class="icon">
          <img style="padding: 2%;  height: 30px;" src="../../assets/icons/skype.png" alt="">
          <img style="padding: 2%;  height: 30px;" src="../../assets/icons/phone.png" alt="">
          <img style="padding: 2%;  height: 30px;" src="../../assets/icons/mail.png" alt="">
        </div>
      </div>
    </div>
  </div>
